<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Type3 Payment</title>
</head>
<body>
<form action="#" th:action="@{/addtype3payment}" th:object="${type3Payment}" method="post">
    <label for="amount">Amount</label>
    <input type="text" th:field="*{amount}" id="amount" placeholder="Amount">
    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    <label for="currency">Currency</label>
    <input type="text" th:field="*{currency}" id="currency" placeholder="Currency">
    <span th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}"></span>
    <label for="debtorIban">Debtor IBAN</label>
    <input type="text" th:field="*{debtorIban}" id="debtorIban" placeholder="Debtor IBAN">
    <span th:if="${#fields.hasErrors('debtorIban')}" th:errors="*{debtorIban}"></span>
    <label for="creditorIban">Creditor IBAN</label>
    <input type="text" th:field="*{creditorIban}" id="creditorIban" placeholder="Creditor IBAN">
    <span th:if="${#fields.hasErrors('creditorIban')}" th:errors="*{creditorIban}"></span>
    <label for="bankBicCode">Bank BIC Code</label>
    <input type="text" th:field="*{bankBicCode}" id="bankBicCode" placeholder="Bank BIC Code">
    <span th:if="${#fields.hasErrors('bankBicCode')}" th:errors="*{bankBicCode}"></span>
    <input type="submit" value="Add Payment">
</form>
</body>
</html>