<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cancel payment</title>
</head>
<body>
<form action="#"
      th:action="@{/cancel/{id}(id=${payment.id})}"
      th:object="${payment}"
      method="post">
    <label for="status">Status</label>
    <input type="text" th:field="*{status}" id="status">
    <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
    <input type="submit" value="Cancel payment">
</form>
</body>
</html>